<p>
    Listado de Niñ@s
</p>
<!--Elegant-->

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <button type="button" class="btn  mb-2 btn-sm  special-color-dark waves-light" data-toggle="modal" data-target="#cPersonaModal"
                    (click)="cPersonaModal.show()" mdbWavesEffect>
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Agregar</button>
            </th>
            <th>foto</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let persona of personas'>
            <td>{{persona.id}}</td>
            <td>{{persona.foto}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
            <td>
                <button type="button" class="btn mb-2 btn-sm  btn-default btn-rounded waves-light" mdbWavesEffect>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn mb-2 btn-sm  btn-primary btn-rounded waves-light" mdbWavesEffect>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn mb-2 btn-sm  btn-danger  btn-rounded waves-light" mdbWavesEffect>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>

</table>

<div mdbModal #cPersonaModal="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-inline">
            <div class="modal-content">
                <div class="modal-header special-color-dark darken-3 white-text">
                    <h4 class="title">
                        <i class="fa fa-pencil"></i> Resgitro Niñ@</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="cPersonaModal.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="modal-body mb-0">
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input mdbInputDirective type="text" formControlName='nombre' class="form-control">
                            <label for="nombre">Nombre</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <input mdbInputDirective type="text" formControlName="apellido" class="form-control">
                            <label for="nombre">Apellido</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <input mdbInputDirective type="text" formControlName="fechaNacimiento" class="form-control">

                            <input id="meeting" type="date" formControlName="fechaNacimiento" class="form-control"/>
                            <label for="fechaNacimiento">Fecha nacimiento</label>
                        </div>

                        <div class="md-form form-sm">
                            <i class="fa fa-tag prefix"></i>
                            <input mdbInputDirective type="text" formControlName="genero" class="form-control">
                            <label for="genero">Genero</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-info mb-2 btn-sm waves-light" mdbWavesEffect>Crear</button>
                    <button type="button" class="btn btn-info mb-2 btn-sm waves-light" data-dismiss="modal" (click)="cPersonaModal.hide()" mdbWavesEffect>Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>