<div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap>
  <div fxFlex="30%" class="example-container">
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2" color="primary">Perfil</h2>
        <mat-tab-group class="demo-tab-group" (selectedTabChange)="tabActual($event)">
          <mat-tab label="Información">
            <div class="demo-tab-content">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Usuario</mat-card-title>
                  <mat-card-subtitle>{{this.usuario.username}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="this.usuario.foto" height="350" alt="Perfil">
                <div *ngIf="currentFileUpload" class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
                  <mat-progress-bar *ngIf="currentFileUpload" class="example-margin" color="primary" mode="determinate" [value]="progress.percentage">
                  </mat-progress-bar>
                </div>
                <input #fileInput type="file" style="display:none" (change)="onSelectFile($event)" />
                <button [disabled]="disable" *ngIf="!selectedFiles" matTooltip="Cambiar Imagen" mat-button  color="primary" (click)="fileInput.click()">
                  <span>Cambiar imagen</span>
                  <mat-icon>camera_alt</mat-icon>
                </button>
                <button *ngIf="selectedFiles" matTooltip="Guardar"  mat-button color="primary" (click)="onUpload()">
                  <span>Guardar imagen</span>
                  <mat-icon>cloud_upload</mat-icon>
                </button>
                <mat-divider></mat-divider>    
                <mat-divider></mat-divider>
               
                <mat-card-content>
                    <br>
                  <p>
                    <strong> Nombres y Apellidos: </strong>
                    {{this.usuario.nombre}} {{this.usuario.apellido}}
                  </p>
                  <p>
                    <strong>Correo: </strong>
                    {{this.usuario.correo}}
                  </p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <button mat-button matTooltip="Eliminar Usuario" (click)="openDialog()" color="primary">
                    <span>Eliminar</span>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Editar">
            <div class="demo-tab-content">
            </div>
            <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">

              <div class="example-container">
                <h1 mat-dialog-title>Usuario</h1>
                <mat-form-field>
                  <input class="form-control" formControlName="username" matInput placeholder="Usuario" type="text" required>
                  <mat-error>Debe ingresar un usuario</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input class="form-control" formControlName="password" matInput placeholder="Contraseña" type="password" required>
                  <mat-error>debe ingresar una contraseña</mat-error>
                </mat-form-field>

                <mat-divider></mat-divider>
                <h1 mat-dialog-title>General</h1>
                <mat-form-field>
                  <input matInput formControlName="nombre" placeholder="Nombre" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="apellido" placeholder="Apellido" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="correo" placeholder="Correo" type="mail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    required>
                </mat-form-field>
              </div>
              <mat-dialog-actions>
                <button mat-button type="submit" mat-raised-button color="primary">Editar</button>
              </mat-dialog-actions>
            </form>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>