
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark  default-color ie-nav" [containerInside]="false">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>    
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
              <a class="nav-link">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Mis Niñ@s</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Curvas Crecimiento OMS</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" style="height:1500px;">
      <div class="row pt-5">
          <div class="col text-center">
            <app-persona></app-persona>
          </div>
      </div>
  </div>
</main>
<!-- /.Main -->
      