
.persona-container-list {
    background-color: azure;
  }

  .bounds {
    background-color:white;
    height :800px;
  }

  .example-container > * {
    width: 50%;
  }

  .form-control-container {
    display: flex;
    flex-direction: column;
  }