
.persona-container-list {
    background-color: azure;
  }

  .bounds {
    background-color:white;
    height :800px;
  }

  .example-container > * {
    width: 50%;
  }

  .form-control-container {
    display: flex;
    flex-direction: column;
  }

  .mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }

.example-radio-button {
  margin: 5px;
}

imagen{
  max-width: 100%;
  width: auto;
  height: auto !important; /* needs to be important because md-card also sets it that way */
}