<div class="container">
  <div fxLayout="row" fxLayoutAlign="end">
    <div fxFlex="25%" class="persona-container-list">Aqui la lista de Ninio y ninias del usuario</div>

    <div fxFlex="75%" class="bounds">
      INFORMACION DE CONTROL NINO
      <div class="example-container">
        <form [formGroup]="controlForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input formControlName="peso" matInput placeholder="Peso (Kg)" type="number" required>
            <mat-error >Debe ingresar un peso</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="talla" placeholder="Talla (cm)" type="number" required>
            <mat-error>debe ingresar una talla</mat-error>
          </mat-form-field>
          <button mat-button type="submit" mat-raised-button color="primary">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>