
.persona-container-list {
    background-color: azure;
  }

  .bounds {
    background-color:white;
    height :800px;
  }

  .example-container > * {
    width: 50%;
  }

  .form-control-container {
    display: flex;
    flex-direction: column;
  }

  .mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }

.example-radio-button {
  margin: 5px;
}

.imagenPerfil{
  width: 90%;
  max-width: 400px;
  height: 180px;
}
.textAlingCenter{
  text-align: center;
}

.fondoFueraRango{
  background:rgb(255,0,0);
  
}
.fondoAlertaRango{
  background:rgb(202, 111, 30);
}
.fondoRangoIdeal{
  background:rgb(138,221,45); 
}

.borderRango{
  border-style: solid;
  border-color: white;
}

hr {
  height: 1px;
  color: #123455;
  background-color: #2a1ab8;
  border: none;
  }